# --- Python Virtual Environments (You have two!) ---
.venv/
backend/venv/
venv/

# --- Python Cache & Logs ---
__pycache__/
*.pyc
.env

# --- Frontend Dependencies (Very Important) ---
node_modules/
dist/
build/
npm-debug.log

# --- System Files ---
.DS_Store
.vscode/

backend/temp_uploads/

