# Web Framework
fastapi
uvicorn
python-multipart  # For handling image uploads

# AI & Computer Vision (We can install both or pick one later)
torch
torchvision
tensorflow
numpy
pandas
opencv-python     # For image preprocessing (Task 3)
Pillow            # For basic image handling

# OCR (Task 5)
pytesseract

# Utilities
python-dotenv